extends ../layout 

block content 
  form(action=`/books/search/` class="search-form")
    input(name="search" type="text"  placeholder="Search: (Title, Author, Genre or Year)" class="text") 
    input(type='submit' value='Search' class="button")
  h1 
    a(href=`/books/`) Books
  p
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)= book.title
          td= book.author
          td= book.genre
          td= book.year
  .page
    p.no-result No results found.
    