extends ../layout 

block content 
  h1 New Book
  form(action='/books/new', method='post')
    include errors
    include form
    p
      input(type='submit' value='Create New Book')
    p
      a.button(href='/books/') Cancel
